.container {    
  align-items:center; /*align vertically*/
    display: grid;
    width:98vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "beats1 am1 ap1 ad1"
      "ad2 ap2 am2 beats2";
  }
  @media only screen and (max-width: 600px) {
    .container {  
        align-items:center;
        display: grid;
        width:98vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 5px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "beats1 am1"
          "ap2 ad1"
          "ad2 ap2"
          "am2 beats2";
    }
  }
  @media only screen and (max-width: 400px) {
    .container {  
        align-items:center;
        display: grid;
        width:98vw;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 5px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "beats1"
          "am1"
          "ap2"
          "ad1"
          "ad2"
          "ap2"
          "am2"
          "beats2";
    }
  }
  /* Placement of media matters. the larger one needs to be on top*/

  img {
      width:100%;
  }

  .beats1 { grid-area: beats1; }
  
  .beats2 { grid-area: beats2; }
  
  .am1 { grid-area: am1; }
  
  .ad1 { grid-area: ad1; }
  
  .am2 { grid-area: am2; }
  
  .ap2 { grid-area: ap2; }
  
  .ad2 { grid-area: ad2; }
  